.pelicula {
    background: rgba(10, 10, 10, 0.30);
    
    height: 100vh;
    
}

.pelicula2 {
    background: rgba(10, 10, 10, 0.30);
    
    height: 100%;
    
}

body{
	width: 100%;
	height: 100%;
    background: #0a0a0a;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
    object-fit: cover;
    
}

.fundo1{
    background-image: url("../imagens/foto1.jpg");
    background-size: cover;
    width: 100%;
	height: 100%;
}

.fundo2 {
    background-image: url("../imagens/foto2.jpg");
    background-size: cover;
    width: 100%;
    height: 110vh;
    position:relative;
    overflow:hidden;
}

.fundo3 {
    background-image: url("../imagens/foto3.jpg");
    background-size: cover;    
    width: 100%;
    height: 100vh;
}

.fundo4 {
    background-image: url("../imagens/foto4.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    
}

header.sticky{
    margin-top: -35px; 
    background: black;
}
.navbar {
    
    background-color: rgba(31, 30, 30, 0.521);
    color: #fff;
    text-align: left;
    width: 100%;
    height: 80px;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
    padding: 8px;
}

.navbar img{
    padding: 4px; 
    width: 160px;
    height: 47px;
    margin-left: -35px;
}

.navbar ul li{
    width: 124px;
    margin: -10px;
    padding: 25px;
    font-family: arial;
    font-size: 12px;
    color: #fff;
}

.navbar ul li span{
    font-size: 10px;
    color:rgb(202, 197, 197);
}

a:link {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:visited {
    color:#fff;
}

a:hover{
    background-color: none;
    text-decoration: none;
    color: rgb(202, 197, 197);
}

a:active {
    background-color: underline;
}

.text-center {
    text-align: center;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.fs-60 {
    font-size: 60px!important;
    color: #fff;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.meio {
    display: block;
    padding-top: 22%;
}

.link {
    width: 100%;
}

.icone {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 17px;
}

.botao1 {
    background: transparent;
    color: white;
    border: 2.9px solid white;
    font-size: 12px;
    font-family: "Josefin Sans",sans-serif;
    letter-spacing: 2px;
    padding: 14px 35px;
    cursor: pointer;
    display: inline-block;
    margin: 31px 30px;
}

.botao1:hover {
    background-color: rgb(233, 105, 1);
    color: white;
    border:rgb(233, 105, 1);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.botao2 {
    background: transparent;
    color: white;
    border: 2.9px solid white;
    font-size: 17px;
    font-family: "Josefin Sans",sans-serif;
    letter-spacing: 2px;
    padding: 12px 45px;
    cursor: pointer;
    display: inline-block;
    margin: 31px 30px;
}

.botao2:hover {
    background-color: rgb(233, 105, 1);
    color: white;
    border:rgb(233, 105, 1);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.fotoLinha {
    width: 370px;
    height: 310px;
    margin-left: -50px;
    padding: 58px;
}

h1 {
    color: white;
    font-weight: 400;
}

h4 {
    font-size: 17px;
    font-family: "Josefin Sans",sans-serif;
    font-style: bold;
    color: white;
    text-align: center;
    margin-top: -40px;
    letter-spacing: 1px;
}

h5 {
    font-weight: 300;
    color: white;
    letter-spacing: 1px;
}

.textoLinha {
    font-size: 14px;
    color: white;
    text-align: center;
}

.linhadivisao {
    color: rgb(129, 129, 129);
    text-align: center;
}

.textoMeio {
    text-align: center;
    color: white;
}

.height100 {
    height: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.titulo4 {
    font-size: 50px;
    color: white;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 300;
    text-transform: uppercase!important;
}

.subtitulo4 {
    color: white;
    font-size: 23px;
    font-weight: 200;
    font-family: "Josefin Sans",sans-serif;
    letter-spacing: 1px;
}

.rodape {
    color: white;
    
}

.foto2text {
    padding: 300px;
    margin-left: -300px;
}

.rodapeletra {
    font-size: 20px;
    font-family: "Josefin Sans",sans-serif;
    font-style: bold;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    padding: 4px;
}

.rodapequadro {
    background-color: rgba(59, 59, 59, 0.5);
    width: 250px;
    height: 40px;
}

.rodapefoto1 {
    width: 90px;
    padding: 10px;
    margin-left: -10px;
    font-weight: 300;
}




